<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGestionUAM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>88F678F97B276CD3B4383AD76ED46AAE30B3D772</string>
				<key>dateExpires</key>
				<string>30/11/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4A9S8YXM74.com.allwinsolutions.uam-demo-app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4A9S8YXM74</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AppGestionUAM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3e7196a6-843b-46c3-80a7-a9882d643c75</string>
				<key>dateExpires</key>
				<string>30/11/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.allwinsolutions.uam-demo-app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4A9S8YXM74</string>
				<key>name</key>
				<string>All-Win Solutions LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
